.table{
    width: 82%;
}

/* .butt{
    background-color: orange;
    border-radius: 12px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
} */

/* hr{
    width: 72%;
} */
