.product_tile {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin-bottom: 20px;
}

.prodpic {
  max-width: 250px;
  border: 3px solid #293d3d;
  border-radius: 15px;
  margin-right: 20px;
  margin-top: 20px;
}

.catalog_pics {
  width: 85%;
  padding: 20px 0;
}

.monies {
  color: white;
  background-color: #293d3d;
  border: 3px solid #293d3d;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.prodname {
  color: white;
  background-color: #293d3d;
  border: 3px solid #293d3d;
  border-radius: 15px;
  margin-right: 40px;
  margin-left: 20px;
  position: absolute;
  bottom: -18px;
  padding: 5px 10px;
  margin: 0 auto;
  width: 60%;
  left: 45px;
}
