<%inherit file="app_base.html" />
<%! from catalog import models as cmod%>

<%block name="top_center">
<h1 class='cen'>Shopping Cart</h1>
</%block>


<%block name="content_center">

<div>

    <table class="table" style='width:100%'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Extended Price</th>
            <th>Remove From Cart</th>

        </tr>
        </thead>
        <tbody>
        % for c in items:
        <tr>
            <td>
                ${c.product.name}
            </td>
            <td>
                ${c.quantity}
            </td>
            <td>
                ${c.price}
            </td>
            <td>
                ${c.extended}
            </td>
            <td>
               <a href="/catalog/deleteitem/${c.id}" >Delete</a>
            </td>
        </tr>
        % endfor

        </tbody>
    </table>

    <br />
    <div class="cen">
        <br>
        <h5>Sales Tax: ${taxprice}</h5>
        <hr>
        <h5><b>Total: ${total}</b> </h5>
        <br>
        <a href="/catalog/checkout/" type="button" class="btn btn-info">Checkout</a>
        <br><br>
    </div>




</div>
</%block>
