<%inherit file="app_base.html" />

<%block name = "skip">
</%block>
    <a href="#content" class="skip">Skip to content</a>
<%block name="top_center">
<div class="row">
        <img class="img-responsive background_img" src="${ STATIC_URL }homepage/media/Images/record_fit.png" alt="Black Piano"/>
        <div class="title">
            <a name="main-content" tabindex="-1"></a>
            <h1>Family-Oriented Music Organization</h1>
            <a href="/catalog/" id="shop" class="btn btn-sm btn-success">SHOP NOW</a><br/><br/>
        </div>

</div>

</%block>



<%block name="content_right">
    <img src='${ STATIC_URL }homepage/media/images/music.png' alt='Saxophone Icon'>
    <br>
</%block>

<%block name="content_center">
<div id="content">
    <h2 class='cen'>Buy or rent from our collection!</h2>
    <p><strong>Why is music important?</strong> Music participation provides a unique opportunity for literacy preparation. Whether the children are singing, playing, or listening, teachers direct them to listen and hear in new ways which exercises their aural discrimination. Playing instruments and adding movement to the lessons teaches children about sequential learning which is essential in reading comprehension.</p>
    <p>Plato once said that music "is a more potent instrument than any other for education". You will find many teachers of young children who would agree with him. Recent research has found that music uses both sides of the brain, a fact that makes it valuable in all areas of development. Music affects the growth of a child's brain academically, emotionally, physically and spiritually.</p>
    <p><strong>Music is academic.</strong> For some people, this is the primary reason for providing music lessons to their children. A recent study from the University of California found that music trains the brain for higher forms of thinking. Second graders who were given music lessons scored 27% higher on proportional math and fractions tests than children who received no special instruction. Research indicates that musical training permanently wires a young mind for enhanced performance.</p>
    <p><strong>Music is physical.</strong> Music can be described as a sport. Learning to sing and keep rhythm develops coordination. The air and wind power necessary to blow a flute, trumpet or saxophone promotes a healthy body.</p>
    <p><strong>Music is emotional.</strong> Music is an art form. We are emotional beings and every child requires an artistic outlet. Music may be your child's vehicle of expression.</p>
    <p><strong>Music is for life.</strong> Most people can't play soccer, or football at 70 or 80 years of age but they can sing. And they can play piano or some other instrument. Music is a gift you can give your child that will last their entire lives.</p>
    <p>Did you know that music making is part of what makes humans human? <strong>Every culture makes music</strong>. Not only that, <strong>every past culture has made music too</strong>. Musical instruments are amongst the oldest man-made objects ever found. For example, there are <strong>flutes around 37,000 years old</strong> and perhaps even older!</p>
    <p>Compare this with reading and writing. The earliest forms of writing are no more than about 3500 years old. <strong>And many cultures of the world still do not read or write</strong>.</p>
    <p>Or how about this? Scientists have recently discovered that music affects many parts of our brain very deeply (grown-ups can look at the book <em>This is Your Brain On Music</em> by Daniel Levitin to find out more). But you don&#8217;t need to be a scientist to understand that! <strong>Trying singing &#8216;Happy Birthday&#8217; or a Christmas song</strong> and you will understand. What do these tunes make you think of? How do they make you feel? <strong>You&#8217;ll be filled with all sorts of memories and feelings</strong> when you hear these tunes—many more than would if you simply said the words &#8216;birthday&#8217; or &#8216;Christmas&#8217;.</p>
    <p><strong>Music gets under your skin. It creates strong feelings. And it creates strong memories.</strong></p>
    <p><strong>Music is a language. It is a language for all humans.</strong> It is a language that is there when normal language is of little use. </p>
</div>


    </br>
    </br>
    </br>
</%block>
