<%inherit file="app_base.html" />

<%block name = "skip">
</%block>
    <a href="#content" class="skip">Skip to content</a>
<%block name="top_center">
<div class="row">
        <img class="img-responsive background_img" src="${ STATIC_URL }homepage/media/Images/record_fit.png" alt="Black Piano"/>
        <div class="title">
            <a name="main-content" tabindex="-1"></a>
            <h1>Family-Oriented Music Organization</h1>
            <a href="/catalog/" id="shop" type="button" class="btn btn-sm btn-success">SHOP NOW</a><br/><br/>
        </div>

</div>

</%block>



<%block name="content_right">

</%block>

<%block name="content_center">
<div id="content">
    <h2>Buy or rent from our collection!</h2>
</div>


    </br>
    </br>
    </br>
</%block>
